<div id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <h1><%= "#{t :page_title_error400}" %></h1>
          <h2><%= "#{t :error400_title}" %></h2>
          <p class="intro-text">
						<%= t('error400_text_html') %><%= t('error_links_html') %>
					</p>
				</div>
      </div>
    </div>
  </div>
</div>