<div id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <h1><%= "#{t :page_title_error404}" %></h1>
      		<h2><%= "#{@page_title_view}" %></h2>
          <p class="intro-text">
						<%= t('error404_text_html') %><%= t('error_links_html') %>
					</p>
				</div>
      </div>
    </div>
  </div>
</div>