@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$additionalInfo: #00ffff;
$blue: #0f7ffe;
$backGrayColor: #f6f6f6;
$backOtherColor: #e6e6e6;
$buttonBackColor: #c7bd2d;
$buttonColorHover: #a13e1a;
$buttonTextColor: #f6f6f6;
$fontSizeI: 157%;
$formControlTextColor: #000000;
$formControlPlaceholderColor: lighten(#000000, 50%);
$formControlBorderColor: lighten(#000000, 30%);
$grayLighter: lighten(#000000, 93.5%);
$green: #00ff00;
$orange: #DF7308;
$linkColor: #0D72E8;
$linkColorHover: $orange;
$linkColorNavbar: #66CCFF;
$localeTextColor: #2e4256;
$mediaSearchBack: lighten(#000000, 80%);
$red: #ff0000;
$textColorWhiteBack: #000000;
$textColorDarkBack: #ffffff;

/* Bootstrap Responsive Font Sizes (rfs) variables */
$enable-responsive-font-sizes: true;
$rfs-base-font-size: 18px;
$rfs-breakpoint: 1920px;

body, html, .container-fluid { width: 100% !important; height: 100% !important; background-color: $textColorWhiteBack; }
body:after { position:fixed; height:100vh; top:0; left:0; right:0; z-index:-1; }
body, html { 
	font-family: Verdana, sans-serif; color: $textColorWhiteBack; text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important; -moz-font-smoothing: antialiased !important; -ms-font-smoothing: antialiased !important; font-smoothing: antialiased !important;
}
@media screen and (max-width: $rfs-breakpoint) { 

	.address-bookstore i, #contact i, #contact .social i, h1 { @include font-size(28px); } /* 157% */
	h2 { @include font-size(26px); } /* 143% */
	h3 { @include font-size(22px); } /* 120% */
	.btn-default, #intro .blank-line, #intro .locale-line, #marfa .blank-line, .navbar-custom, .navbar-custom .navbar-toggler, #overview .blank-line, #overview .text-under-construction,
	.text-120, .text-fb-link, .text-youtube-link 
		{ @include font-size(20px); } /* 110%-115% */
	#contact .btn-default, #contact .form-control { @include font-size(18px); } /* 100% - base font size */
	#footer { @include font-size(16px); } /* 93% */
	.text-85, label { @include font-size(15px); } /* 85% */
	.text-terms, #store .store-caption, ::placeholder { @include font-size(14px); } /* 80% */
	
}
a { color: $linkColor; } a:hover, a:focus { text-decoration: none; color: $linkColorHover; }
hr { height: 4px; width: 70px; text-align: center; position: relative; background: $orange; margin: 0 auto; margin-bottom: 30px; border: 0; }
h1 { font-weight: bold; }
h2, h3, h4 { color: $textColorWhiteBack; font-weight: bold; }
h2 { margin: 0; }

ul, ol { list-style: none; padding: 0; -webkit-padding: 0; -khtml-padding: 0; -moz-padding: 0; -ms-padding: 0; -o-padding: 0; }

.address-bookstore { padding-bottom: 10px; .i-spacing-right { padding-right: 20px; } }
.anchor { padding-top: 50px; }

.btn-default { color: #000000; font-weight: bold; background: $buttonBackColor; border: 0; padding: 5px 10px; margin: 5px 8px 0px; transition: all 0.5s; }
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active { color: $buttonTextColor; background-color: $buttonColorHover; }

.clearfix { display: block; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }

.flash {
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 1em;
  color: black;
}
div.alert.alert-danger, div.alert.alert-info, div.alert.alert-success, div.alert.alert-warning { text-align: center; padding:10px; margin: 10px 0; border: 1px solid; }
div.alert.alert-danger:before, div.alert.alert-info:before, div.alert.alert-success:before, div.alert.alert-warning:before {
  font-family: FontAwesome; font-style: normal; speak: none; display: inline-block; text-decoration: inherit;
  text-align: center; font-variant: normal; text-transform: none;
  width: 1em;
  margin-right:.2em;
  line-height:1em;
  margin-left:.2em;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale
}
div.alert.alert-danger:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content:'\f057'; } /* times-circle - solid */
div.alert.alert-danger { color: #D8000C; background-color: #FFD2D2; }
div.alert.alert-info:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f05a"; } /* info-circle - solid */
div.alert.alert-info { color: #00529B; background-color: #BDE5F8; }
div.alert.alert-success:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content:'\f00c'; } /* check - solid */
div.alert.alert-success { color: #4F8A10; background-color: #DFF2BF; }
div.alert.alert-warning:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content:'\f071'; } /* exclamation-triangle - solid */
div.alert.alert-warning { color: #9F6000; background-color: #FEEFB3; }
.alert-alert { @extend .alert-warning; }
.alert-notice { @extend .alert-success; }

.marfa-padding { padding-top: 8px; }

.section-title.center { padding: 30px 0; }
.section-title h2, .section-title.center h2 { margin-bottom: 30px; }

.text-orange { color: $orange; }
.text-red { color: $red; }
.text-terms { line-height: 110%; }
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 60px; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Contact Section */
#contact { padding: 40px 0 20px 0; background: $backGrayColor; }
#contact h3 { margin-top: 20px; }
#contact p { color: $textColorWhiteBack; }
#contact form { padding: 20px 0; }
#contact i { color: $orange; margin-bottom: 10px; }
#contact input[type=radio], input.radio { float:left; clear:none; margin: 2px 2px 2px 2px; }
label { font-family: Verdana, sans-serif; float: left; }
#contact .btn-default {	background: $linkColor; border: 0;	border-radius: 4px;	padding: 5px 10px;	color: $buttonTextColor; }
#contact .btn-default:hover, #contact .btn-default:focus { color: $buttonTextColor; background: $linkColorHover; }
#contact .btn:active, .btn.active { background-image: none;	outline: 0;	-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
#contact .contact-item { margin: 10px; border-radius: 4px; }
#contact .form-control { 
	display: block; width: 100%; padding: 6px 12px; line-height: 1.5; color: $formControlTextColor; background-color: #fff; background-image: none; border: 1px solid $formControlBorderColor; border-radius: 2px;	
	-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none;	
	-webkit-transition: none; -moz-transition: none; -ms-transition: none;	transition: none;
}
#contact ::placeholder { color: $formControlPlaceholderColor; }
#contact .form-control:focus { border-color: inherit; outline: 0; -webkit-box-shadow: transparent; -moz-box-shadow: transparent; -ms-box-shadow: transparent;	box-shadow: transparent; }
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {	outline: none; outline-offset: none; }
#contact .radio-button-class { label { margin-left: 3px; } }
#contact .social ul li { display: inline-block; margin: 0 20px; }
#contact .social i { color: $linkColor; padding-top: 8px; border-radius: 4px; transition: all 0.3s; }
#contact .social i.fab:hover { color: $linkColorHover; }
#contact .text-danger { color: #ff3333; text-align: left; }

/* Footer Section*/
#footer { background: #000000;	padding: 5px 0; text-align: center; font-style: italic; width: 100%; color: $textColorDarkBack; }
#footer .home-page a { color: $buttonBackColor; font-weight: bold; }
#footer .home-page a:hover, a:focus { text-decoration: none; color: $buttonColorHover; }
#footer a { color: $linkColorNavbar; font-weight: bold; }
#footer a:hover, a:focus { text-decoration: none; color: $linkColorHover; }

/* Intro Section */
#intro {
	display: flex;  -ms-display: flex; -moz-display: flex; -webkit-display: flex; justify-content: space-between;
	flex-direction: column; -ms-flex-direction: column; -moz-flex-direction: column; -webkit-flex-direction: column;
	width: 100%; height: 100%; padding: 5px 0px; text-align: center; color: $textColorDarkBack;
	@media screen and (orientation: portrait) { 
		background: url("https://lighthousemarfa.s3.us-west-2.amazonaws.com/headerlighthouseportrait.jpg") no-repeat center center;
		-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -ms-background-size: 100% 100%; background-size: 100% 100%;
	}
	@media screen and (orientation: landscape) { 
		background: url("https://lighthousemarfa.s3.us-west-2.amazonaws.com/headerlighthouselandscape.jpg") no-repeat center center;
		-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -ms-background-size: 100% 100%; background-size: 100% 100%;
	}
} 
#intro .blank-line { color: transparent; text-align: center; font-weight: bold; }
#intro .locale-line { color: #ffffff; text-align: center; font-weight: bold; a { color: $buttonBackColor; font-weight: bold; } a:hover, a:focus { text-decoration: none; color: $buttonColorHover; } .english-link { padding-right: 40px; } }

/* About Marfa Section */
#marfa { padding: 40px 0 20px 0; background: $backGrayColor; }
#marfa li { color: $textColorWhiteBack; font-weight: bold; }
#marfa p { margin-top: 5px; margin-bottom: 5px; color: $textColorWhiteBack; }
#marfa .blank-line { color: transparent; text-align: center; font-weight: bold; }
#marfa .nav-pills { font-weight: bold; padding-bottom: 5px; }
#marfa .nav-pills .nav-link.active, .nav-pills .show>.nav-link { background-color: $linkColorHover; }

/* Navigation */
.navbar-custom { padding: 0; border-bottom: 0; background: #000000; }
.navbar-custom .navbar-brand { font-weight: bold; text-transform: capitalize; }
.navbar-custom .navbar-brand:focus { outline: 0; }
.navbar-custom .navbar-brand { color: $linkColorNavbar; }
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus { text-decoration: none; color: $linkColorHover; }
.navbar-custom .navbar-toggler { color: #eee; border-radius: 2px; padding: 0 4px; }
.navbar-custom .navbar-toggler:hover, .navbar-custom .navbar-toggler:focus { background-color: #e75926; color: #ffffff; }
.navbar-custom .navbar-brand .navbar-toggler:focus, .navbar-custom .navbar-brand .navbar-toggler:active { outline: 0; }
.navbar-custom a { color: $linkColorNavbar; font-weight: bold; }
.navbar-custom .navbar-nav li a { padding-left: 0px; 
	-webkit-transition: background .3s ease-in-out; -ms-transition: background .3s ease-in-out; -moz-transition: background .3s ease-in-out;	transition: background .3s ease-in-out;
}
.navbar-custom .navbar-nav li a:hover { outline: 0; color: $linkColorHover; background-color: transparent; }
.navbar-custom .navbar-nav li a:focus, .navbar-custom .nav li a:active { outline: 0; background-color: transparent; color: $linkColorHover; }
.navbar-custom .navbar-nav li.active { outline: 0; }
.navbar-custom .navbar-nav li.active a { background-color: rgba(255,255,255,.3); }
.navbar-custom .navbar-nav li.active a:hover { color: $linkColorHover; }

/* Overview Section */
#overview { padding: 40px 0 20px 0; background: $backGrayColor; }
#overview li { color: $textColorWhiteBack; font-weight: bold; }
#overview p { margin-top: 5px; margin-bottom: 5px; color: $textColorWhiteBack; }
#overview .blank-line { color: transparent; text-align: center; font-weight: bold; }
#overview .carousel { max-width: 600px; max-height: 450px; }
#overview .nav-pills { font-weight: bold; padding-bottom: 5px; }
#overview .nav-pills .nav-link.active, .nav-pills .show>.nav-link { background-color: $linkColorHover; }
#overview .text-under-construction { font-weight: bold; }

/* Store Section */
#store { padding: 40px 0 20px 0; text-align: center; color: $textColorWhiteBack; background-color: $backGrayColor; }
#store h4 { color: $textColorDarkBack; }  
#store p { color: $textColorWhiteBack; }
#store .store-caption { height: 100%; .row { .row-col-img-padding { [class*="col-"] { padding-left: 0px !important; padding-right: 0px !important; } } } }
#store .thumbnail { padding: 10px; } .thumbnail img { width: 100%; }
/* Ecwid css */
//#store .my-categories-67807866 .horizontal-menu-container.horizontal-desktop .horizontal-menu-item > a span { @include font-size(16px); }

/* Terms Section */
#terms { padding: 40px 0 20px 0; background: $backGrayColor; }
#terms h2, p { color: $textColorWhiteBack; }

/* Thanks Section */
#thanks { padding: 40px 0 20px 0; background: $backGrayColor; }
#thanks h2, p { color: $textColorWhiteBack; }